.accordion {
  border-bottom: 1px solid var(--color-border);
}
.accordionSummary {
  cursor: pointer;
  list-style: none;
  display: flex;
  padding: 24px 16px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-border);
  font-size: 18px;
  font-weight: bold;
  &::-webkit-details-marker {
    display: none;
  }
}

.accordionIcon {
  font-size: 24px;
  margin-left: 16px;
}

.accordionContent {
  overflow: hidden;
}

.accordionText {
  padding: 0px 16px 24px;
  line-height: 1.5;
}
