* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #000;
  --color-secondary: #9e9e9e;
  --color-border: #d0d0d0;
}

body {
  font-family:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    background-color: #fff;
}

/* Header */

.globalHeader {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.globalHeaderTitle {
  font-size: 22px;
  line-height: 1;
}

.globalHeaderLink {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
}

/* Main */

.globalContainer {
  padding: 48px 0 0;
  max-width: 672px;
  margin: 0 auto;
}

.globalMain {
  padding: 40px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
}

.pageTitle {
  font-size: 26px;
  line-height: 1;
}

.contentsContainer {
  padding: 24px 0 0;
}

.basicButton {
  padding: 12px 24px;
  border: 1px solid var(--color-border);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  color: var(--color-primary);
  cursor: pointer;
}
