.contentsContainer {
  position: relative;
}

.dropdownButton {
  position: relative;
  padding: 12px 32px 12px 16px;
}

.dropdownButtonIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -7.5px;
}

.dropdownContent {
  position: absolute;
  top: 72px;
  left: 0;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #fff;
  overflow: hidden;
  width: 200px;
  padding: 8px 0;
}

.dropdownItemButton {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: #f0f0f0;
  }
}
