.hamburgerMenuContainer {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.hamburgerButton {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.hamburgerButtonIcon {
  width: 24px;
  height: 24px;
}

.menuContent {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  border-right: 1px solid var(--color-border);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.menuList {
  padding-top: 40px;
}

.menuItem {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}

.closeButton {
  position: absolute;
  top: 0px;
  left: -8px;
  width: 48px;
  height: 48px;
  border: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.menuBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
