.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  backdrop-filter: blur(5px);
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 8px;

  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: none;
  &::backdrop {
    background-color: transparent;
  }
}

.modalContentInner {
  padding: 24px;
}

.modalContent h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.modalContent p {
  margin-bottom: 24px;
  color: var(--color-secondary);
}

.modalContent button {
  margin-top: 16px;
}
