.segmentButtonContainer {
  position: relative;
  width: 480px;
  display: flex;
  border-radius: 8px;
  background-color: #e5e5e5;
  margin: 0 auto;
}
.segmentButtonBackground {
  position: absolute;
  z-index: 0;
  width: 25%;
  height: 100%;
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
  }
}

.segmentButton {
  width: 100%;
  height: 44px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 1;
}
